$color-line = #111
$color-dark = #282828
$color-light = #eee

*
  box-sizing inherit

html
body
  margin 0
  padding 0
  box-sizing border-box
  height 100%
  background $color-dark
  font-size 18px
  color $color-light

body
  display flex
  flex-direction column
  justify-content space-between

header
  display flex
  flex-direction row
  justify-content space-around
  height 80px

  .main-title
    margin 0
    line-height @height

  .info-wrap
    display flex
    flex-direction column
    justify-content center

#gamearea
  flex-shrink 0
  min-height 360px
  border 1px solid $color-line
  background $color-light

footer
  display flex
  flex-wrap wrap

  .btn
    width 25%
    height 60px
