
doctype html
html(lang="zh-Hans")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 数独 - mt's game

  body
    p#debug(style="margin: 0;height: 24px;overflow: visible;")

    header
      h1.main-title 数独
      div.info-wrap
        span #[strong#difficult 正常] level #[span#level 1]
        time#time 0:00:00

    section#gamearea
      canvas.dat-layer
      canvas.act-layer

    footer
      button.btn 撤销
      button.btn 重做
      button.btn 提示
      button.btn 查错
      button.btn 更多
      button.btn 标记
      button.btn 重开
      button.btn 技能
